.wf-sawarabigothic {
  font-family: "Sawarabi Gothic";
}

html {
  margin: 0;
  height: 100%;
}

body {
  background-color: #222;
  color: #DDD;
  margin: 0;
  height: 100%;
}

header {
  position: relative;
  max-width: 100%;
}

main>div {
  margin: 20px;
  margin-bottom: 30px;
}

#form {
  margin-left: 30px;
  font-size: 80%;
  line-height: 2em;
  border: 1px solid rgb(80, 76, 75);
  border-radius: 5px;
  padding: 20px;
  width: 350px;
}

.form {
  margin-left: 30px;
  font-size: 80%;
  line-height: 2em;
  border: 1px solid rgb(80, 76, 75);
  border-radius: 5px;
  padding: 20px;
  width: 350px;
}

#downloadLink {
  text-decoration: none;
  background-color: rgb(0 95 179);
  font-size: 80%;
  padding: 10px 20px;
  border: 1px solid rgb(80, 76, 75);
  border-radius: 5px;
  display: none;
}

.chatlog span {
  -webkit-text-size-adjust: none
}

@media (max-width: 600px) {
  main {
      width: 100%;
      margin: 0
  }

  #form {
      margin: 10px;
      width: 80%;
  }

  li {
      font-size: 14px;
      -webkit-text-size-adjust: none
  }

}